<h1>Hello from the show of the <%= @guitar.name %></h1>
<% render partial: "guitarcard"%>



<div class="d-flex justify-content-evenly">
  <%=link_to "EDIT", edit_guitar_path(@guitar)%>
  <%= button_to "Delete Guitar", @guitar, method: :delete, class: "btn btn-danger  text-color-white mt-3" %>
</div>
