<div class="footer text-center">
  <div class="footer-links">
    <h5><%=link_to "CLICK FOR INDEX", guitars_path %>ICI LE FOOTER A VENIR, JE SUIS DANS VIEW/SHARED PARTIAL FOOTER</h5>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
