<footer>
  <div class="footer justify-content-center bg-danger text-warning" >
    <div class="footer-links">
      © 2022 Guitarpick, Inc.
      <a href="#" target="_blank"><i class="text-warning fab fa-github"></i></a>
      <a href="#" target="_blank"><i class="text-warning fab fa-instagram"></i></a>
      <a href="#" target="_blank"><i class="text-warning fab fa-facebook"></i></a>
      <a href="#" target="_blank"><i class="text-warning fab fa-twitter"></i></a>
      <a href="#" target="_blank"><i class="text-warning fab fa-linkedin"></i></a>
  </div>
</footer>
