<footer>
  <div class="footer justify-content-center text-white" >
    <div class="footer-links">
      © 2022 Guitarpick, Inc.
      <a href="#" target="_blank"><i class="text-white fab fa-github"></i></a>
      <a href="#" target="_blank"><i class="text-white fab fa-instagram"></i></a>
      <a href="#" target="_blank"><i class="text-white fab fa-facebook"></i></a>
      <a href="#" target="_blank"><i class="text-white fab fa-twitter"></i></a>
      <a href="#" target="_blank"><i class="text-white fab fa-linkedin"></i></a>
  </div>
</footer>
