<div class="banner", style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("guitars-bg.jpg") %>)">
  <div class="container">
    <div class="pt-5">
        <h1><strong>Guitar Pick</strong></h1>
        <p>Find the right guitar at the right time.</p>
        <%= link_to "Browse Guitars", guitars_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>

<h2 class="mt-4 pb-4" style="text-align: center">Check the available guitars around you <i class="fa-solid fa-guitar"></i></h2>
<div class="container">
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
