h1 {
  font-size: 24px;
  font-weight: bolder;
  background: linear-gradient(180deg, $darkblue 85%, $white 100%);
  color: $white;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 24px;
}
