body {
  margin: 0;
  background-color: hsl(0, 0%, 98%);
  color: #333;
  font: 100% / normal sans-serif;
}


form {
  box-sizing: border-box;
  padding: 20px;
  background-color: $white;
}

.btn {
  background-color: #736CED;
  color: #FCFCFC;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.full-width {
  grid-column: span 2;
}
