.navbar-lewagon {
  background: $ourred;
  position:relative;
  justify-content: space-between;
  position: sticky;
  z-index: 30;
  top: 0px;
  width: 100%;
  height: 60px;
}

.navbar-lewagon h1{
  color: $ourwhite;
  font-size: 20px;
  font-weight: bold;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  position: absolute;
  top: 15px;
  left: 5px;
  width: 90px;
}
.nav-link{
  color: $ourwhite;
  font-weight: bold ;
}
.nav-link:hover{
  color: $ourwhite;
  font-weight: bolder ;
}


.navbar-brand img:hover {
  transition-duration: 600ms;
  transform: rotate(-90deg);
  top: 12px;
  left: 2px;
  width: 96px;
}

      .dashboard-btn {
        position:absolute;
        top: 10px;
        right: 100px;
        text-decoration: none;
        color: white;
        // margin-right: 70px;
      }

      .dashboard-btn:hover {
        transition: 200ms;
        // padding: 5px;
        outline: 2px solid;
        outline-color: rgba(255, 255, 255, 0.7);
        color: rgba(255, 255, 255, 0.7)!important;
      }
